* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  line-height: 1.7;
}

.slide {
  &__container {
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0px);
    transition: transform 0.3s ease-out;
    cursor: grab;
  }
  &__slider {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
  }

  &__img {
    max-width: 100%;
    max-height: 60%;
    transition: transform 0.3s ease-in-out;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.3rem;
  }

  &__btn {
    background-color: #444;
    color: #fff;
    padding: 1rem 1.5rem;
  }
}

.grabbing {
  cursor: grabbing;
  & .slide img {
    transform: scale(0.9);
  }
}
