@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: 50px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #cccccc;
  padding: 10px;
}
.table__head {
  font-weight: bold;
  text-transform: uppercase;
}
