* {
  margin: 0;
  padding: 0;
}

.hero {
  background: #ff676d;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero__title {
  text-align: center;
  padding-top: 80px;
  font-size: 2.5rem;
  color: #fff;
}
