@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #644bff;
  margin: 0 1.25rem;
}

/* Wrapper div */

.wrapper {
  max-width: 450px;
  margin: 9.375rem auto;
}

.search {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  position: relative;
}

.search__input {
  height: 3.4375rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 3.75rem 0 1.25rem;
  font-size: 1.125rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search__autocomplete-box {
  /* padding: 0.625rem 0.5rem; */
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.search__list {
  padding: 0.5rem 0.75rem;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.search__list:hover {
  background: #efefef;
}

.search__icon {
  height: 3.4375rem;
  width: 3.4375rem;
  line-height: 3.4375rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25rem;
  color: #644bff;
  cursor: pointer;
}
