/*   color variables */
/*   border radius */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav {
  position: fixed;
  width: 100vw;
  -webkit-box-shadow: 0 0 10px #e1e5ee;
          box-shadow: 0 0 10px #e1e5ee;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

.nav__listlogo {
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}

.nav__listlogo svg {
  width: 2.5rem;
  -webkit-transition: fill 250ms ease-in;
  transition: fill 250ms ease-in;
}

.nav__listlogo svg:hover, .nav__listlogo svg:focus {
  fill: #f06292;
}

.nav__listitem {
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.nav__listitem::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  background-color: #f06292;
  left: 1rem;
  bottom: 0.9rem;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
}

.nav__listitem:hover::after, .nav__listitem:focus::after {
  width: 80%;
}

.nav__listitem:hover ul,
.nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav__listitemdrop {
  position: absolute;
  top: 4rem;
  left: -1rem;
  -webkit-box-shadow: 0 0 10px #e1e5ee;
          box-shadow: 0 0 10px #e1e5ee;
  background-color: white;
  border-radius: 0.2rem;
  width: 12rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
  background-color: #fce4ec;
}
