/* color variables */
$clr-primary: #aa00ff;
$clr-primary-hover: #f3e5f5;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*Border radius*/
$radius: 2rem;

/*Animation*/

$animation: cubic-bexier(0, 0.76, 0.58, 1.43);

/*Reseting Styles*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***********************************************/
body {
  background: $clr-gray100;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav {
  background-color: white;
  box-shadow: 0 0 10px 5px $clr-gray300;
  border-radius: 0 0 $radius $radius;
  overflow: hidden;
  padding: 1rem;
  width: 24rem;

  &__list {
    display: flex;
    justify-content: center;
    gap: 1rem;

    &item {
      list-style: none;
      padding: 1rem;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        width: 4rem;
        height: 4rem;
        background-color: $clr-primary-hover;
        display: block;
        border-radius: $radius;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 400ms $animation;
        transform: scale(0);
        z-index: 1;
      }

      svg {
        fill: $clr-gray400;
        width: 2rem;
        transition: fill 400ms $animation;
        z-index: 99;
        position: relative;
      }

      &:hover svg {
        fill: $clr-primary;
      }

      &-active {
        svg {
          fill: $clr-primary;
        }

        &::before {
          transform: scale(1);
        }
      }
    }
  }
}
