* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 50px;
  width: 250px;
  height: 50px;
  background: #2196f3;
  transition: 0.5s;
  z-index: 100000;
  overflow: hidden;
}
.nav.active {
  height: 350px;
}

.toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: #2196f3;
  color: #fff;
  justify-content: flex-end;
  padding: 0 20px;
  font-size: 1.25rem;
  cursor: pointer;
}

.toggle::before {
  content: "Menu";
  margin-right: 10px;
}

.toggle.active::before {
  content: "Close";
  margin-right: 10px;
}

.toggle span {
  position: relative;
  width: 20px;
  height: 50px;
}

.toggle span::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.toggle.active span::before {
  transform: rotate(225deg);
  top: 24px;
}

.toggle span::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.toggle.active span::after {
  transform: rotate(135deg);
  bottom: 24px;
}

.nav ul {
  position: relative;
  background-color: black;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  height: 50px;
  color: #fff;
  font-size: 1.125rem;
  transition: 1s;
}

.nav ul li a:hover {
  transition: 0;
  background: #2196f3;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}

section h2 {
  font-size: 12vw;
  color: rgba(33, 150, 243, 0.2);
}
